<footer>
        <div class="footer-col">
            CMR college <br>  
            Kandlakoya<br>
            Medchel Telangana
        </div>
        <div class="footer-col end">
            Tel: 08965436 <br>
            Ph.no:91 8976564390<br>
            info@eventnest.com
        </div>
        <div class="footer-col end">
            ©2035 by EventNest. <br>
            Powered and secured by FireWall
        </div>
        <div class="footer-col" id="last">
            <div class="social-icons">
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.github.com"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            </div> 
            <br>
            <button id="down"><a href="{{ url_for('admin_bookings') }}" id="no">Bookings</a></button>
        </div>
  </footer>